:root {
    --first-main-color: #d6ff38;
    --second-main-color: rgb(5 8 16);
    --first-log-in-color: #20303c;
    --second-log-in-color: #116dff;
    --third-log-in-color: #e0e3e5;
    --background-color: #f9fafa;
    --main-transition: 0.3s
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--second-main-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: black;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}
/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url("../imgs/T-SHOP_1.jpg");
    background-size: cover;
    position: relative;
}
.offer {
    background-color: black;
    color: white;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
@media (max-width:767px) {
    .offer {
        padding: 10px 40px 10px 40px;
        letter-spacing: 0.3px;
        z-index: 1;
    }
}
.overlay {
    background-color: rgb(0 0 0 / 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area {
    position: relative;
    z-index: 3;
}
.header-area .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--second-main-color);
}
@media (max-width: 991px) {
    .header-area .container-header {
        background-color: var(--first-main-color);
        border: none;
        height: 80px;
    }
}
.header-area .container-header .logo {
    width: 270px;
    background-color: var(--first-main-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--second-main-color);
}
@media (max-width: 991px) {
    .header-area .container-header .logo {
        width: auto;
        padding: 20px 15px;
        border: none;
        background-image: none;
    }
}
.header-area .container-header .logo a {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.header-area .container-header .links {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
@media (max-width: 991px) {
    .header-area .container-header .links {
        display: none;
    }
}
.header-area .container-header .links li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    list-style: none;
    width: 100%;
    height: 61px;
    cursor: pointer;
    border-left: 1px solid black;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header-area .container-header .links li:nth-child(1) {
    border-left: none;
} 
.header-area .container-header .links li:hover {
    background-color: var(--second-main-color);
    border-bottom: none;
}
.header-area .container-header .links li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-area .container-header .links li:hover a {
    color: var(--first-main-color);
}
.header-area .container-header .links li a i {
    margin-left: 5px;
}
.header-area .container-header .toggle {
    position: absolute;
    right: 13px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (min-width: 991px) {
    .header-area .container-header .toggle {
        display: none;
    }
}
.header-area .container-header .toggle span {
    width: 100%;
    background-color: black;
    height: 2px;
}
.header-area .container-header nav {
    display: none;
}
@media (max-width: 991px) {
    .header-area .container-header nav {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}
    .header-area .container-header nav.open {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    .header-area .container-header nav .responsive-links {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}
}
.header-area .container-header nav .close {
    position: fixed;
    top: 50px;
    right: 30px;
    color: var(--first-main-color);
    background-color: var(--second-main-color);
    border: 2px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header-area .container-header nav .close:hover {
    background-color: black;
    color: white;
}
.header-area .container-header nav a {
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header-area .container-header nav a:hover {
    background-color: var(--first-main-color);
}
.header-area .container-header nav a:nth-child(5) {
    position: absolute;
    top: 52px;
    left: 30px;
    width: auto;
    height: auto;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.header-area .container-header nav a:nth-child(5):hover {
    background-color: transparent;
}
.header-area .container-header nav a i {
    font-size: 30px;
    margin-left: 10px;
}
.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
    text-shadow: 3px 3px 3px black;
}
@media (max-width: 991px) {
    .introduction-text {
        line-height: 32px;
    }
}
.contact-icon {
    position: absolute;
    bottom: 100px;
    right: 100px;
}
@media (max-width: 767px) {
    .contact-icon {
        right: 80px;
        bottom: 80px;
    }
}
.contact-icon i {
    color: white;
    position: fixed;
    z-index: 2;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--second-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
@media (max-width: 767px) {
    .contact-icon i {
        box-shadow: 0px 0px 10px black;
        border: 2px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
.arrow-icon {
    position: relative;
    display: none;
}
@media (max-width: 767px) {
    .arrow-icon {
        display: block;
    }
    .arrow-icon i {
        display: none;
        position: fixed;
        right: 20px;
        bottom: 100px;
        font-size: 35px;
        z-index: 2;
        color: black;
        background-color: white;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        box-shadow: 0px 0px 10px black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
@media (min-width: 767px) {
    .arrow-icon i {
        display: none;
    }
}
/* End Landing Page */
/* Start First Section */
.first-section .section-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
    width: 100%;
    margin: 50px 0;
}
.first-section .section-container div {
    position: relative;
}
.first-section .section-container div:nth-child(1) {
    flex-basis: 25%;
}
.first-section .section-container div:nth-child(2) {
    flex-basis: 50%;
}
.first-section .section-container div:nth-child(3) {
    flex-basis: 25%;
}
.first-section .section-container div img {
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}
.first-section .section-container div:nth-child(2) img {
    width: 100%;
}
.first-section .section-container div .title {
    position: absolute;
    width: 100%;
    height: 99.3%;
    bottom: 3.5px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
}
@media (max-width: 992px) {
    .first-section .section-container div .title {
        font-size: 20px;
    }
}
.first-section .section-container div:hover .title {
    z-index: 1;
}
/* End First Section */
/* Start New Drops */
.new-drops {
    margin: 50px;
}
@media (max-width: 767px) {
    .new-drops {
        margin: 50px 10px;
    }
}
.new-drops h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    font-weight: 900;
}
.new-drops .new-drops-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
@media (max-width: 767px) {
    .new-drops .new-drops-container {
        gap: 20px;
    }
}
.new-drops .new-drops-container a {
    text-decoration: none;
}
.new-drops .new-drops-container a .product {
    position: relative;
}
@media (max-width: 767px) {
    .new-drops .new-drops-container a .product img {
        width: 165px;
    }
}
.new-drops .new-drops-container a .product .description {
    color: black;
    font-size: 20px;
    line-height: 11px;
    margin: 20px 0;
    text-align: center;
}
@media (max-width: 767px) {
    .new-drops .new-drops-container a .product .description {
        font-size: 17px;
    }
}
.new-drops .new-drops-container a .product .best-seller {
    position: absolute;
    color: var(--first-main-color);
    background-color: black;
    width: 85px;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
    font-size: 13px;
}
.new-drops .new-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 45px 0 20px;
}
.new-drops .btn {
    background-color: var(--second-main-color);
    color: var(--first-main-color);
    padding: 10px 55px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.new-drops .btn:hover {
    background-color: var(--first-main-color);
    color: var(--second-main-color);
    border: 2px solid var(--second-main-color);
}
/* End New Drops */
/* Start Sale Section */
.sale-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 90px ;
    background: linear-gradient(277deg, rgb(241 238 255) 33%, rgb(122 163 195) 100%);
    border: 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 767px) {
    .sale-section {
        flex-direction: column;
        margin: 50px 15px 0;
        background: linear-gradient(360deg, rgb(239 239 241) 70%, rgb(122 163 195) 100%);
    }
}
.sale-section .sale-description {
    width: 100%;
    text-align: center;
    padding: 35px
}
.sale-section .sale-description i {
    font-size: 45px;
    margin-bottom: 35px;
}
.sale-section .sale-description h3 {
    margin: 0px 0 15px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
.sale-section .sale-description h2 {
    font-size: 100px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .sale-section .sale-description h2 {
        font-size: 58px;
    }
}
.sale-section .sale-description p {
    margin: 0;
}
@media (max-width: 767px) {
    .sale-section .image {
        width: 100%;
    }
}
.sale-section .image img {
    width: 100%;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
@media (max-width: 767px) {
    .sale-section .image img {
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
}
}
/* End Sale Section */
/* Start link */
.first-section .link {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}
@media (max-width: 767px) {
    .first-section .link {
        font-size: 25px;
        text-align: center;
        margin: 120px 0;
    }
}
.first-section .link i {
    font-size: 50px;
}
.first-section .link .right {
    margin-right: 50px;
}
.first-section .link .left {
    margin-left: 50px;
}
@media (max-width: 767px) {
    .first-section .link .right,
    .first-section .link .left {
        display: none;
    }
    .first-section .link .up,
    .first-section .link .down {
        position: absolute;
    }
    .first-section .link .up {
        top: 85px;
    }
    .first-section .link .down {
        bottom: 85px;
    }
}
@media (min-width: 767px) {
    .first-section .link .up,
    .first-section .link .down {
        display: none;
    }
}
.first-section .link a {
    font-weight: bold;
    color: black;
}
/* End link */
/* Start Footer */
.footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}
@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        border: none;
        margin-top: 80px;
    }
}
.footer .emails {
    flex-basis: 30%;
    background-color: var(--second-main-color);
    padding: 80px;
    text-align: center;
}
@media (max-width: 992px) {
    .footer .emails {
        width: 100%;
        padding: 40px 20px;
        text-align: start;
    }
}
.footer .emails .logo {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: white;
    text-decoration: none;
    width: fit-content;
    margin: auto;
}
@media (max-width: 992px) {
    .footer .emails .logo {
        font-size: 30px;
        margin: 0;
    }
}
.footer .emails .email {
    font-size: 15px;
    display: block;
    margin: 25px auto 18px;
    color: white;
    width: fit-content;
    text-decoration: none;
}
@media (max-width: 992px) {
    .footer .emails .email {
        margin: 20px 0 15px;
    }
}
.footer .emails p {
    color: white;
    font-size: 13px;
    margin: 0;
}
.footer .options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 70%;
}
@media (max-width: 992px) {
    .footer .options {
        flex-direction: column;
        margin-top: 35px;
        align-items: start;
        width: 100%;    
    }
}
.footer .options .container-options {
    display: flex;
    flex-direction: column;
}
@media (max-width: 992px) {
    .footer .options .container-options {
        margin-left: 20px;
        margin-bottom: 15px;
    }
}
.footer .options .container-options p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px
}
@media (max-width: 992px) {
    .footer .options .container-options p {
        font-size: 22px;
    }
}
.footer .options .container-options a {
    text-decoration: none;
    color: black;
    margin: 0 0 12px;
    font-size: 15px;
    width: fit-content;
}
@media (max-width: 992px) {
    .footer .options .container-options a {
        font-size: 17px;
    }
}
.copyright {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}
@media (max-width: 992px) {
    .copyright {
        flex-direction: column;
        width: 100%;
    }
}
.copyright .social-icons {
    flex-basis: 30%;
    text-align: center;
}
@media (max-width: 992px) {
    .copyright .social-icons {
        width: 100%;
        padding: 25px;
    }
}
.copyright .social-icons i {
    font-size: 23px;
    margin-right: 20px;
    cursor: pointer;
}
.copyright .copyright-text {
    margin: 0;
    flex-basis: 70%;
    text-align: center;
    background-color: var(--first-main-color);
    padding: 10px;
    border-left: 1px solid black;
}
@media (max-width: 992px) {
    .copyright .copyright-text {
        width: 100%;
        border-left: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
.copyright .copyright-text span {
    font-size: 18px;
}
/* End Footer */

/* Start Shop New Page */
.shop-new-page .header-area .links .active {
    background-color: var(--second-main-color);
    color: var(--first-main-color);
}
@media (max-width: 992px) {
    .shop-new-page .header-area .responsive-links .active {
        background-color: var(--first-main-color);
    }
}
.shop-new-page .shop-new h2 {
    background-image: linear-gradient(0deg, #D6FF38 0%, #FFFFFF 100%);
    text-align: center;
    font-size: 55px;
    padding: 130px 10px;
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    font-weight: 800;
}
@media (max-width: 767px) {
    .shop-new-page .shop-new h2 {
        font-size: 60px;
        padding: 85px;
    }
}
.shop-new-page .shop-new .shop-new-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}
@media (min-width: 767px) and (max-width: 1000px) {
    .shop-new-page .shop-new .shop-new-container {
        gap: 20px;
        margin: 30px;
    }
}
.shop-new-page .shop-new .shop-new-container a {
    text-decoration: none;
}
.shop-new-page .shop-new .shop-new-container .product {
    position: relative;
}
@media (max-width: 767px) {
    .shop-new-page .shop-new .shop-new-container .product img {
        width: 320px;
    }
}
.shop-new-page .shop-new .shop-new-container .product .description {
    color: black;
    font-size: 20px;
    line-height: 11px;
    margin: 20px 0;
    text-align: center;
}
@media (max-width: 767px) {
    .shop-new-page .shop-new .shop-new-container .product .description {
        font-size: 25px;
    }
}
.shop-new-page .shop-new .shop-new-container .product .best-seller {
    position: absolute;
    color: var(--first-main-color);
    background-color: black;
    width: 85px;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
    font-size: 13px;
}
/* End Shop New Page */

/* Start Shop Woman Page */
.shop-woman .header-area .links .active {
    background-color: var(--second-main-color);
    color: var(--first-main-color);
}
@media (max-width: 992px) {
    .shop-woman .header-area .responsive-links .active {
        background-color: var(--first-main-color);
    }
}
.shop-woman .shop-woman-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}
@media (min-width: 767px) and (max-width: 1000px) {
    .shop-woman .shop-woman-container {
        gap: 20px;
        margin: 30px;
    }
}
.shop-woman-product a {
    text-decoration: none;
}
.shop-woman-container .product {
    position: relative;
}
.shop-woman-product h2 {
    background-image: linear-gradient(0deg, #D6FF38 0%, #FFFFFF 100%);
    text-align: center;
    font-size: 55px;
    padding: 130px 10px;
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    font-weight: 800;
}
@media (max-width: 767px) {
    .shop-woman-product h2 {
        font-size: 60px;
        padding: 85px;
    }
}
.shop-woman-container .product img {
    position: relative;
    width: 237px;
    height: 316px;
    object-fit: cover;
    object-position: 50% 50%;
}
@media (max-width: 767px) {
    .shop-woman-container .product img {
        width: 320px;
        height: 426px;
    }
}
.shop-woman-container .product .description {
    color: black;
    font-size: 20px;
    line-height: 11px;
    margin: 20px 0;
    text-align: center;
}
@media (max-width: 767px) {
    .shop-woman-container .product .description {
        font-size: 25px;
    }
}
.shop-woman-container .product .fir-hover {
    position: absolute;
    left: 0;
    z-index: -1;
}
.shop-woman-container .product .sec-hover {
    position: absolute;
    left: 0;
    z-index: -1;
}
.shop-woman-container .product .thi-hover {
    position: absolute;
    left: 0;
    z-index: -1;
}
.shop-woman-container .product:hover .fir-hover,
.shop-woman-container .product:hover .sec-hover,
.shop-woman-container .product:hover .thi-hover {
    z-index: 1;
}
.shop-woman-container .product .best-seller {
    position: absolute;
    color: var(--first-main-color);
    background-color: black;
    width: 85px;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
    font-size: 13px;
}
/* End Shop Woman Page */

/* Start Shop Man Page */
.shop-man .header-area .links .active {
    background-color: var(--second-main-color);
    color: var(--first-main-color);
}
@media (max-width: 992px) {
    .shop-man .header-area .responsive-links .active {
        background-color: var(--first-main-color);
    }
}
.shop-man .shop-men-product h2 {
    background-image: linear-gradient(0deg, #D6FF38 0%, #FFFFFF 100%);
    text-align: center;
    font-size: 55px;
    padding: 130px 10px;
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    font-weight: 800;
}
@media (max-width: 767px) {
    .shop-man .shop-men-product h2 {
        font-size: 60px;
        padding: 85px;
    }
}
.shop-man .shop-men-product .shop-men-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}
@media (min-width: 767px) and (max-width: 1000px) {
    .shop-man .shop-men-product .shop-men-container {
        gap: 20px;
        margin: 30px;
    }
}
.shop-men-product .shop-men-container a {
    text-decoration: none;
}
.shop-man .shop-men-product .shop-men-container .product {
    position: relative;
}
.shop-man .shop-men-product .shop-men-container .product img {
    position: relative;
    width: 237px;
    height: 316px;
    object-fit: cover;
    object-position: 50% 50%;
}
@media (max-width: 767px) {
    .shop-man .shop-men-product .shop-men-container .product img {
        width: 320px;
        height: 426px;
    }
}
.shop-men-product .shop-men-container .product .description {
    color: black;
    font-size: 20px;
    line-height: 11px;
    margin: 20px 0;
    text-align: center;
}
@media (max-width: 767px) {
    .shop-men-product .shop-men-container .product .description {
        font-size: 25px;
    }
}
.shop-man .shop-men-product .shop-men-container .product .fir-hover {
    position: absolute;
    left: 0;
    z-index: -1;
}
.shop-man .shop-men-product .shop-men-container .product .sec-hover {
    position: absolute;
    left: 0;
    z-index: -1;
}
.shop-man .shop-men-product .shop-men-container .product .thi-hover {
    position: absolute;
    left: 0;
    z-index: -1;
}
.shop-man .shop-men-product .shop-men-container .product:hover .fir-hover,
.shop-man .shop-men-product .shop-men-container .product:hover .sec-hover,
.shop-man .shop-men-product .shop-men-container .product:hover .thi-hover {
    z-index: 1;
}
.shop-man .shop-men-product .shop-men-container .product .best-seller {
    position: absolute;
    color: var(--first-main-color);
    background-color: black;
    width: 85px;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
    font-size: 13px;
}
/* End Shop Man Page */

/* Start Log In Page */
.log-in .header-area .links .active {
    background-color: var(--second-main-color);
    color: var(--first-main-color);
}
.log-in h2 {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 50px;
    font-weight: 800;
    color: var(--first-log-in-color);
}
.log-in .sign-up {
    color: var(--first-log-in-color);
    text-align: center;
    font-size: 18px;
}
.log-in .sign-up a {
    text-decoration: none;
    color: var(--second-log-in-color);
}
.log-in .log-in-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;
}
@media (max-width: 767px) {
    .log-in .log-in-container {
        flex-direction: column-reverse;
        margin: 120px 0px 0;
    }
}
.log-in .log-in-container form {
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 25%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 991px) {
    .log-in .log-in-container form {
        padding: 20px;
    }
}
.log-in .log-in-container form .email {
    position: relative;
    width: 300px;
    border-bottom: 1px solid #adadaa;
    margin: 30px 0 18px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
    .log-in .log-in-container form .email {
        margin-top: 0;
    }
}
.log-in .log-in-container form .email:hover {
    border-bottom-color: var(--first-log-in-color);
}
.log-in .log-in-container form .email input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.log-in .log-in-container form .email input:valid {
    background: none;
}
.log-in .log-in-container form .email label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.log-in .log-in-container form .email span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2691d9;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.log-in .log-in-container form .email input:focus ~ label,
.log-in .log-in-container form .email input:valid ~ label {
    top: -5px;
    font-size: 12px;
    color: #2691d9;
}
.log-in .log-in-container form .email input:focus ~ span::before,
.log-in .log-in-container form .email input:valid ~ span::before {
    width: 100%;
}
.log-in .log-in-container form .check {
    font-size: 14px;
    color: var(--first-log-in-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
@media (max-width: 767px) {
    .log-in .log-in-container form .check {
        display: none;
    }
}
.log-in .log-in-container form .check div {
    display: flex;
    align-items: center;
}
.log-in .log-in-container form .check div input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.log-in .log-in-container form .check div label {
    cursor: pointer;
}
.log-in .log-in-container form .check a {
    text-decoration: none;
    color: var(--first-log-in-color);
}
.log-in .log-in-container form .check a:hover {
    color: var(--second-log-in-color);
}
.log-in .log-in-container form .submit-btn {
    position: relative;
    border: 1px solid var(--second-log-in-color);
    color: var(--second-log-in-color);
    width: 200px;
    height: 45px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
    .log-in .log-in-container form .submit-btn {
        display: none;
        background-color: var(--second-log-in-color);
        width: 100%;
        margin-top: 30px;
    }
}
.log-in .log-in-container form .submit-btn:hover {
    background-color: var(--second-log-in-color);
    color: white;
}
.log-in .log-in-container form .submit-btn input {
    width: 100%;
    height: 100%;
    color: var(--second-log-in-color);
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    padding-right: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
    .log-in .log-in-container form .submit-btn input {
        color: white;
    }
}
.log-in .log-in-container form .submit-btn:hover input {
    color: white;
}
.log-in .log-in-container form .submit-btn label {
    position: absolute;
    right: 15px;
    top: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .log-in .log-in-container form .submit-btn label {
        color: white;
        right: 65px;
        top: 15px;
    }
}
.log-in .log-in-container form .submit-btn label i {
    font-size: 12px;
}
@media (max-width: 767px) {
    .log-in .log-in-container form .submit-btn label i {
        font-size: 14px;
    }
}
.log-in .log-in-container .login-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
@media (min-width: 0px) {
    .log-in .log-in-container .login-mobile {
        display: none;
    }
}
.log-in .log-in-container .login-mobile p {
    text-transform: uppercase;
    font-size: 15px;
}
.log-in .log-in-container .login-mobile .social-accounts {
    display: flex;
    align-items: center;
}
.log-in .log-in-container .login-mobile .social-accounts .facebook,
.log-in .log-in-container .login-mobile .social-accounts .google {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.log-in .log-in-container .login-mobile .social-accounts .facebook {
    border-color: #3b5998;
    margin-right: 5px;
}
.log-in .log-in-container .login-mobile .social-accounts .google {
    border-color: var(--second-log-in-color);
    margin-left: 5px;
}
.log-in .log-in-container .login-mobile .social-accounts .facebook a,
.log-in .log-in-container .login-mobile .social-accounts .google a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in .log-in-container .login-mobile .social-accounts .facebook a img,
.log-in .log-in-container .login-mobile .social-accounts .google a img {
    width: 18px;
    height: 18px;
}
.log-in .log-in-container .line {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .log-in .log-in-container .line {
        display: none;
    }
}
.log-in .log-in-container .line span {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--third-log-in-color);
    z-index: 1;
}
.log-in .log-in-container .line p {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--third-log-in-color);
    z-index: 2;
}
.log-in .log-in-container .line-responsive {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 767px) {
    .log-in .log-in-container .line-responsive {
        display: none;
    }
}
.log-in .log-in-container .line-responsive span {
    position: absolute;
    width: 300px;
    height: 2px;
    background-color: var(--third-log-in-color);
    z-index: 1;
}
.log-in .log-in-container .line-responsive p {
    font-size: 12px;
    background-color: var(--background-color);
    z-index: 2;
    padding: 20px 10px;
    text-transform: uppercase;
}

.log-in .log-in-container .log-in-social {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
}
@media (max-width: 991px) {
    .log-in .log-in-container .log-in-social {
        padding: 20px;
    }
}
.log-in .log-in-container .log-in-social .google,
.log-in .log-in-container .log-in-social .facebook,
.log-in .log-in-container .log-in-social .apple {
    width: 320px;
}
.log-in .log-in-container .log-in-social .google .google-link,
.log-in .log-in-container .log-in-social .facebook .facebook-link,
.log-in .log-in-container .log-in-social .apple .apple-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-bottom: 18px;
}
.log-in .log-in-container .log-in-social .google .google-link {
    background-color: #4285f4;
    border: 1px solid var(--second-log-in-color);
}
.log-in .log-in-container .log-in-social .facebook .facebook-link {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}
.log-in .log-in-container .log-in-social .apple .apple-link {
    background-color: var(--background-color);
    border: 1px solid black;
}
.log-in .log-in-container .log-in-social .google .google-link .google-logo,
.log-in .log-in-container .log-in-social .facebook .facebook-link .facebook-logo, 
.log-in .log-in-container .log-in-social .apple .apple-link .apple-logo {
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in .log-in-container .log-in-social .google .google-link .google-logo {
    border-right: 1px solid #4285f4;
}
.log-in .log-in-container .log-in-social .facebook .facebook-link .facebook-logo {
    border-right: 1px solid #3b5998;
}
.log-in .log-in-container .log-in-social .apple .apple-link .apple-logo {
    border-right: 1px solid black;
}
.log-in .log-in-container .log-in-social .google .google-link .google-logo img,
.log-in .log-in-container .log-in-social .facebook .facebook-link .facebook-logo img,
.log-in .log-in-container .log-in-social .apple .apple-link .apple-logo img {
    width: 20px;
    height: 20px;
}
.log-in .log-in-container .log-in-social .google .google-link p,
.log-in .log-in-container .log-in-social .facebook .facebook-link p,
.log-in .log-in-container .log-in-social .apple .apple-link p {
    flex-basis: 85%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
}
.log-in .log-in-container .log-in-social .apple .apple-link p {
    color: black;
}
.log-in .log-in-container .log-in-social .sso a {
    text-decoration: none;
    font-size: 14px;
    color: var(--second-log-in-color);
}
.log-in .terms {
    text-align: center;
    padding: 25px;
}
.log-in .terms .terms-use-policy a {
    font-size: 14px;
    color: var(--first-log-in-color);
}
.log-in .terms .terms-use-policy a:nth-child(1) {
    margin-right: 15px;
}
.log-in .terms .terms-text {
    font-size: 14px;
    margin-top: 10px;
}
.log-in .terms .terms-text a {
    color: var(--first-log-in-color);
}
/* End Log In Page */