:root {
    --main-color: #000010;
    --settings-color: #9e9e9e;
    --main-transitiom: 0.3s
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* Start Settings Box */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: white;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
.setting-box.open {
    left: 0;
}
.setting-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}
.setting-box .toggle-settings i {
    padding: 8px 0;
    width: 30px;
}
.setting-box .settings-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: var(--settings-color);
    margin: 10px;
}
.setting-box .settings-container .option-box h4 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.setting-box .settings-container .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.setting-box .settings-container .option-box .colors-list li {
    width: 25px;
    height: 25px;
    margin: 0 1px;
    background-color: #333;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;
    border: 2px solid #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
.setting-box .settings-container .option-box .colors-list li.active {
    border-color: white;
    opacity: 1;
}
.setting-box .settings-container .option-box .colors-list li:first-child {
    background-color: #000010;
}
.setting-box .settings-container .option-box .colors-list li:nth-child(2) {
    background-color: #d6ff38;
}
.setting-box .settings-container .option-box .colors-list li:nth-child(3) {
    background-color: #ff5722;
}
.setting-box .settings-container .option-box .colors-list li:nth-child(4) {
    background-color: #009688;
}
.setting-box .settings-container .option-box .colors-list li:nth-child(5) {
    background-color: #ffc107;
}
.setting-box .settings-container .option-box .random-background .yes,
.setting-box .settings-container .option-box .random-background .no {
    width: 50px;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 13px;
    padding: 3px 10px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
.setting-box .settings-container .option-box .random-background span.active {
    opacity: 1;
}
.setting-box .settings-container .option-box .random-background .yes {
    background-color: var(--main-color);
}
.setting-box .settings-container .option-box .random-background .no {
    background-color: var(--main-color);
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url("../imgs/T-SHOP_1.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: -100px;
}
.landing-page .offer {
    background-color: black;
    color: white;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
@media (max-width:767px) {
    .landing-page .offer {
        padding-right: 30px;
        padding-left: 30px;
        letter-spacing: 0.3px;
    }
}
.landing-page .overlay {
    background-color: rgb(0 0 0 / 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
}
.header-area .container-logo {
    width: 300px;
    padding: 12px;
    background-color: var(--main-color);
}
@media (max-width: 767px) {
    .header-area .container-logo {
        width: 100%;
        padding: 25px;
    }
}
.header-area .logo {
    cursor: pointer;
    font-weight: bold;
    font-size: 31px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px white;
    text-align: center;
    width: fit-content;
    margin: auto
}
@media (max-width: 767px) {
    .header-area .logo {
        margin: 0;
    }
}
.header-area .links {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0;
    padding-right: 20px;
    font-size: 17px;
    background-color: white;
    margin: 0;
}
@media (max-width: 767px) {
    .header-area .links {
        display: none;
    }
}
.header-area .links li:nth-child(4) {
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-area .links li:hover {
    background-color: var(--main-color);
    color: white;
}
@media (min-width: 767px) {
    .header-area .links li {
        width: 100%;
    }
}
.header-area .links li i {
    font-size: 20px;
    margin-left: 10px;
}
.header-area .toggle {
    position: relative;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    border: 2px solid #eee;
    background-color: transparent;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
@media (min-width: 767px) {
    .header-area .toggle {
        display: none;
    }
}
@media (max-width: 767px) {
    .header-area .toggle {
        position: absolute;
        right: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
}
.header-area .toggle span {
    width: 100%;
    background-color: white;
    height: 3px;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
.header-area li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    color: black;
    width: 15%;
    text-align: center;
    border-right: 1px solid;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
.header-area li a {
    text-decoration: none;
    color: black;
    transition: var(--main-transitiom);
    -webkit-transition: var(--main-transitiom);
    -moz-transition: var(--main-transitiom);
    -ms-transition: var(--main-transitiom);
    -o-transition: var(--main-transitiom);
}
.header-area li:hover a {
    color: white;
    font-weight: inherit;
}
.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
    text-shadow: 3px 3px 3px black;
}
@media (max-width: 767px) {
    .introduction-text {
        line-height: 32px;
    }
}
.landing-page .contact-icon {
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.landing-page .contact-icon i {
    color: white;
    position: fixed;
    z-index: 9999;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* End Landing Page */
/* Start First Section */
.first-section {
    background: linear-gradient(#ffffff, #9198e5);
}
.first-section .section-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 99;
    padding: 25px;
    width: 85%;
    margin: auto;
}
@media (max-width: 767px) {
    .first-section .section-container {
        flex-direction: column;
    }
}
.first-section .section-container div {
    position: relative;
}
.first-section .section-container div img {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.first-section .section-container div .title {
    position: absolute;
    width: 100%;
    height: 99.3%;
    bottom: 3.5px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.first-section .section-container div:hover .title {
    z-index: 1;
}
/* End First Section */