:root {
    --first-main-color: #d6ff38;
    --second-main-color: rgb(5 8 16);
    --settings-color: #9e9e9e;
    --main-transition: 0.3s
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url("../imgs/T-SHOP_1.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: -100px;
}
.landing-page .offer {
    background-color: black;
    color: white;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
@media (max-width:767px) {
    .landing-page .offer {
        padding: 10px 40px 10px 40px;
        letter-spacing: 0.3px;
        z-index: 1;
    }
}
.landing-page .overlay {
    background-color: rgb(0 0 0 / 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area {
    position: relative;
    z-index: 3;
}
.header-area .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .header-area .container-header {
        background-color: var(--first-main-color);
        border: none;
        height: 80px;
    }
}
.header-area .container-header .logo {
    width: 270px;
    background-color: var(--first-main-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
@media (max-width: 767px) {
    .header-area .container-header .logo {
        width: auto;
        padding: 20px 15px;
        border: none;
        background-image: none;
    }
}
.header-area .container-header .logo a {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.header-area .container-header .links {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
@media (max-width: 767px) {
    .header-area .container-header .links {
        display: none;
    }
}
.header-area .container-header .links li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 61px;
    cursor: pointer;
    border-left: 1px solid black;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header-area .container-header .links li:nth-child(1) {
    border-left: none;
} 
.header-area .container-header .links li:hover {
    background-color: var(--second-main-color);
    border-bottom: none;
}
.header-area .container-header .links li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-area .container-header .links li:hover a {
    color: var(--first-main-color);
}
.header-area .container-header .links li a i {
    margin-left: 5px;
}
.header-area .container-header .toggle {
    position: absolute;
    right: 13px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (min-width: 767px) {
    .header-area .container-header .toggle {
        display: none;
    }
}
.header-area .container-header .toggle span {
    width: 100%;
    background-color: black;
    height: 2px;
}
.header-area .container-header nav {
    display: none;
}
@media (max-width: 767px) {
    .header-area .container-header nav {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    .header-area .container-header nav.open {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    .header-area .container-header nav .responsive-links {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}
}
.header-area .container-header nav .close {
    position: fixed;
    top: 50px;
    right: 30px;
    color: var(--first-main-color);
    background-color: var(--second-main-color);
    border: 2px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header-area .container-header nav .close:hover {
    background-color: black;
    color: white;
}
.header-area .container-header nav a {
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header-area .container-header nav a:hover {
    background-color: var(--first-main-color);
}
.header-area .container-header nav a:nth-child(5) {
    position: absolute;
    top: 52px;
    left: 30px;
    width: auto;
    height: auto;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.header-area .container-header nav a:nth-child(5):hover {
    background-color: transparent;
}
.header-area .container-header nav a i {
    font-size: 30px;
    margin-left: 10px;
}
.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 15px;
    text-shadow: 3px 3px 3px black;
}
@media (max-width: 767px) {
    .introduction-text {
        line-height: 32px;
    }
}
.landing-page .contact-icon {
    position: absolute;
    bottom: 100px;
    right: 100px;
}
@media (max-width: 767px) {
    .landing-page .contact-icon {
        right: 80px;
        bottom: 80px;
    }
}
.landing-page .contact-icon i {
    color: white;
    position: fixed;
    z-index: 2;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--second-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
@media (max-width: 767px) {
    .landing-page .contact-icon i {
        box-shadow: 0px 0px 10px black;
        border: 2px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
.landing-page .arrow-icon {
    position: relative;
    display: none;
}
@media (max-width: 767px) {
    .landing-page .arrow-icon {
        display: block;
    }
    .landing-page .arrow-icon i {
        display: none;
        position: fixed;
        right: 20px;
        bottom: 100px;
        font-size: 35px;
        z-index: 2;
        color: black;
        background-color: white;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        box-shadow: 0px 0px 10px black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
/* End Landing Page */
/* Start First Section */
.first-section {
    background-image: linear-gradient(55deg, rgb(141, 175, 204) 15%, rgb(162 195 38 / 65%) 100%);
}
.first-section .section-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
    padding: 25px;
    padding-bottom: 0;
    width: 85%;
    margin: auto;
}
@media (max-width: 767px) {
    .first-section .section-container {
        flex-direction: column;
    }
}
.first-section .section-container div {
    position: relative;
}
.first-section .section-container div img {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.first-section .section-container div .title {
    position: absolute;
    width: 100%;
    height: 99.3%;
    bottom: 3.5px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.first-section .section-container div:hover .title {
    z-index: 1;
}
/* End First Section */
/* Start New Drops */
.new-drops h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 60px 0;
}
.new-drops .new-drops-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 10px 60px;
}
@media (max-width: 767px) {
    .new-drops .new-drops-container {
        gap: 25px;
    }
}
.new-drops .new-drops-container a {
    text-decoration: none;
    color: white;
}
.new-drops .new-drops-container a .product {
    position: relative;
}
.new-drops .new-drops-container a .product img {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
@media (max-width: 767px) {
    .new-drops .new-drops-container a .product img {
        width: 160px;
    }
}
.new-drops .new-drops-container a .product .description {
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.new-drops .new-drops-container a .product:hover .description {
    z-index: 1;
}
.new-drops .new-drops-container a .product .description p {
    text-transform: capitalize;
}
.new-drops .new-drops-container a .product .best-seller {
    position: absolute;
    background-color: black;
    width: 85px;
    left: 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
    font-size: 13px;
    border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    -ms-border-radius: 8px 0 0 0;
    -o-border-radius: 8px 0 0 0;
}
.new-drops .shop-new {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: auto;
}
.new-drops .btn {
    background-color: var(--second-main-color);
    color: var(--first-main-color);
    padding: 10px 55px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.new-drops .btn:hover {
    background-color: var(--first-main-color);
    color: var(--second-main-color);
    border: 2px solid var(--second-main-color);
}
/* End New Drops */
/* Start Sale Section */
.sale-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 90px ;
    background: linear-gradient(277deg, rgb(241 238 255) 33%, rgb(122 163 195) 100%);
    border: 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 767px) {
    .sale-section {
        flex-direction: column;
        margin: 50px 15px;
        background: linear-gradient(360deg, rgb(239 239 241) 70%, rgb(122 163 195) 100%);
    }
}
.sale-section .sale-description {
    width: 100%;
    text-align: center;
    padding: 35px
}
.sale-section .sale-description i {
    font-size: 45px;
    margin-bottom: 35px;
}
.sale-section .sale-description h3 {
    margin: 0px 0 15px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
.sale-section .sale-description h2 {
    font-size: 100px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .sale-section .sale-description h2 {
        font-size: 58px;
    }
}
.sale-section .sale-description p {
    margin: 0;
}
@media (max-width: 767px) {
    .sale-section .image {
        width: 100%;
    }
}
.sale-section .image img {
    width: 100%;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
@media (max-width: 767px) {
    .sale-section .image img {
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
}
}
/* End Sale Section */
/* Start link */
.first-section .link {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 10px;
}
@media (max-width: 767px) {
    .first-section .link {
        font-size: 25px;
        text-align: center;
        margin: 120px 0 80px;
    }
}
.first-section .link i {
    font-size: 50px;
}
.first-section .link .right {
    margin-right: 50px;
}
.first-section .link .left {
    margin-left: 50px;
}
@media (max-width: 767px) {
    .first-section .link .right,
    .first-section .link .left {
        display: none;
    }
    .first-section .link .up,
    .first-section .link .down {
        position: absolute;
    }
    .first-section .link .up {
        top: 100px;
    }
    .first-section .link .down {
        bottom: 100px;
    }
}
@media (min-width: 767px) {
    .first-section .link .up,
    .first-section .link .down {
        display: none;
    }
}
.first-section .link a {
    font-weight: bold;
    color: black;
}
/* End link */
/* Start Footer */
.footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        border: none;
        margin-top: 110px;
    }
}
.footer .emails {
    flex-basis: 30%;
    background-color: var(--second-main-color);
    padding: 80px;
    text-align: center;
}
@media (max-width: 767px) {
    .footer .emails {
        width: 100%;
        padding: 40px 20px;
        text-align: start;
    }
}
.footer .emails .logo {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: white;
    text-decoration: none;
    width: fit-content;
    margin: auto;
}
@media (max-width: 767px) {
    .footer .emails .logo {
        font-size: 30px;
        margin: 0;
    }
}
.footer .emails .email {
    font-size: 15px;
    display: block;
    margin: 25px auto 18px;
    color: white;
    width: fit-content;
    text-decoration: none;
}
@media (max-width: 767px) {
    .footer .emails .email {
        margin: 20px 0 15px;
    }
}
.footer .emails p {
    color: white;
    font-size: 13px;
    margin: 0;
}
.footer .options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 70%;
}
@media (max-width: 767px) {
    .footer .options {
        flex-direction: column;
        margin-top: 50px;
        align-items: start;
        width: 100%;    
    }
}
.footer .options .container-options {
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .footer .options .container-options {
        margin-left: 20px;
        margin-bottom: 15px;
    }
}
.footer .options .container-options p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px
}
@media (max-width: 767px) {
    .footer .options .container-options p {
        font-size: 22px;
    }
}
.footer .options .container-options a {
    text-decoration: none;
    color: black;
    margin: 0 0 12px;
    font-size: 15px;
    width: fit-content;
}
@media (max-width: 767px) {
    .footer .options .container-options a {
        font-size: 17px;
    }
}
.copyright {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}
@media (max-width: 767px) {
    .copyright {
        flex-direction: column;
        width: 100%;
    }
}
.copyright .social-icons {
    flex-basis: 30%;
    text-align: center;
}
@media (max-width: 767px) {
    .copyright .social-icons {
        width: 100%;
        padding: 25px;
    }
}
.copyright .social-icons i {
    font-size: 23px;
    margin-right: 20px;
    cursor: pointer;
}
.copyright .copyright-text {
    margin: 0;
    flex-basis: 70%;
    text-align: center;
    background-color: var(--first-main-color);
    padding: 10px;
    border-left: 1px solid black;
}
@media (max-width: 767px) {
    .copyright .copyright-text {
        width: 100%;
        border-left: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
.copyright .copyright-text span {
    font-size: 18px;
}
/* End Footer */